@model emarket.Models.cart

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>cart</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.added_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.added_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
