﻿@model IEnumerable<emarket.Models.cart>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<div class="container bootstrap snippet">

    <div class="panel-heading">
        <h3>
            CART LIST
        </h3>

    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="myTable">

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        <a href="@Url.Action("Remove","Carts",new { id=item.product_Id } )" class="btn btn-primary">Remove</a>
                    </td>
                    <td>
                        <p>@item.product.Name - @item.product.Price EGP</p>
                    </td>
                    <td>
                        <p>@item.added_at</p>
                    </td>
                </tr>
                }


            </table>
        </div>
    </div>
</div>
<a href="@Url.Action("Filter","products",null) " class="btn btn-success"><span class="glyphicon glyphicon-arrow-left"></span>&nbsp;Continue Shopping</a>
<style>

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    
</style>
<script>
function myFunction() {
  var x = document.getElementById("myTable").rows[0].cells.length;
  document.getElementById("demo").innerHTML = "Found " + x + " cells in the first tr element.";
}

</script>