@model emarket.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd class="list-group-item text-center" style="background-color: #CCCCCC; font-size:23px;">
            @Html.DisplayFor(model => model.Name) - @Html.DisplayFor(model => model.Price) EGP ( @Html.DisplayFor(model => model.category.Category_Name))
        </dd>
        <dd class="text-center">
            <img src="@Url.Content(Model.Image)" width="300" height="350" />
        </dd>
        <dd class="text-center" style="font-size:17px;">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div class="btn-group btn-group-justified">
    <div class="btn-group">
        @Html.ActionLink("Update", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-success" })
    </div>
    <div class="btn-group"></div>
    <div class="btn-group">
        @Html.ActionLink("Delete", "Delete", null, new { id = Model.Id }, new { @class = "btn btn-danger" })
    </div>
</div>
<br />
<div>
    @Html.ActionLink("Back to Products", "Filter", null, new { @class = "btn breadcrumb  " })
</div>

