@model emarket.Models.product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">

        

        <dd>
            @Html.DisplayFor(model => model.Name)- @Html.DisplayFor(model => model.Price)<p>EGP</p> (@Html.DisplayFor(model => model.category.Category_Name))
        </dd>

      

        <dd>
            <img src="@Url.Content(Model.Image)" width="300" height="350" />
        </dd>

       
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Back to Products", "Filter")
    @Html.ActionLink("Update", "Edit", null, new { id = Model.Id }, new { @class = "btn btn-success" })
    @Html.ActionLink("Delete", "Delete", null, new { id = Model.Id }, new { @class = "btn btn-danger" })
</p>
