@model IEnumerable<emarket.Models.product>


@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>
@using (Html.BeginForm())
{
<br />
<form class="navbar-form navbar-right" role="search">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">@@</span>
            @Html.TextBox("search", null, new { Type = "text", @class = "form-control" })
            <span class="input-group-btn">
                @Html.ActionLink("Add New Product", "Create", null, new { @class = "btn btn-primary" })
            </span>
        </div>
    </div>
</form>
<br />
}

<table class="table">

    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details","products",new { id=item.Id})">
                <img src="@Url.Content(item.Image)" alt="..." width="242" height="200"></a>
                <div class="caption">
                    <h4>@item.Name</h4>
                    @*@Html.ActionLink(item.Name, "Details", null, new { id = item.Id }, new { @class = "btn btn-info btn-lg" })*@
                    <h4>@item.Price</h4>
                    <p></p>
                </div>
            </div>
        </div>
    }
</table>